{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<a href="{% url 'dashboard' %}">Back Home</a>
<a href="{% url 'patients' %}">View Patients</a>
    <div class="mt-5 mb-5 text-center w-50 centered">

        <form action="{% url 'create_patient' %}" method="post">
         <legend class="mb-3 border-bottom bold"><h3>Create Patient</h3></legend>
            {% csrf_token %}
            {{ form|crispy}}
            <input type="submit" value="Create Patient" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock content %}