    body {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px
    }
    
    p {
        font-size: 20px;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .centered {
        position: relative;
        left: 27%;
    }
    
    .stretched-link {
        color: #000!important;
    }
    
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    
    .card-body p {
        display: inline-block;
        padding-left: 20px;
    }